.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 425px) {
        display: block;
        text-align: center;
    }

    img {
        @media (max-width: 768px) {
            width: 170px;
        }
    }
}